@font-face{
    font-family: 'OpenSans'; 
    src: url('./font/OpenSans/OpenSans-Regular.ttf');
    src:url('./font/OpenSans/OpenSans-Bold.ttf') format('Bold'),
        url('./font/OpenSans/OpenSans-Italic.ttf') format('Italic'),
}
.link {
    padding: 25px;
}

.title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Consolas;
    width: 6em;

    animation-name: typing, blink-caret;
    animation-duration: 2.2s, 0.2s;
    animation-timing-function: steps(11, end), step-end;
    animation-iteration-count: 1, 11;
    overflow: hidden;
}

@keyframes typing {
  from { width: 0; }
  to { width: 6em; }
}

@keyframes blink-caret {
  from, to { box-shadow: 1px 0 0 0 transparent; }
  50% { box-shadow: 1px 0 0 0; }
}

img.center { 
    display: block; 
    margin-left: auto;
    margin-right: auto;
    animation-duration: 5s;
    animation-name: fadein;
}
a { 
    text-decoration:none;
}
#hr {
    animation-duration: 6s;
    animation-name: fadein;
}
div.content {
    margin-left: 10;
    animation-duration: 2s;
    animation-name: slidein;
    font-weight: bold;
}
#list {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}
#aboutme{
    font-weight: bold;
    text-align: center;
    margin-bottom: 25;
    animation-duration: 2s;
    animation-name: fadein;
}
#projects{
    margin-left: 50px;
    margin-right: 50px;
}

div.project:hover{
    animation-duration: 0.5s;
    animation-name: shadow;
    box-shadow:0 0 10px 10px rgba(41, 40, 40, 0.356);
}
img.projectImg{
    margin-left: auto;
    margin-right: auto;
    height: 10em;
    width:inherit;
}
@keyframes fadein {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}

@keyframes slidein {
    from {
        margin-top: 50;
        opacity: 0;
    }

    to {
        margin-top: 0;
        opacity: 1;
    }
}

@keyframes shadow {
    from {
        box-shadow:0 0 10px 10px rgba(41, 40, 40, 0.1);
    }

    to {
        box-shadow:0 0 10px 10px rgba(41, 40, 40, 0.356);
    }
}